<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mystery Word Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body class="">
  <header class="navbar navbar-default">
    <h4 class="navbar-text">Welcome to Mystery Word Game</h4>
    {{#numGuess}}<h5 class="navbar-text navbar-right">Guesses remaining: {{.}}</h5>{{/numGuess}}
    {{^numGuess}}<h5 class="navbar-text navbar-right">No guesses left!</h5>{{/numGuess}}
  </header>
  <div class="container">
    <h1> Welcome, {{player}}!<h1>
    <section class="container letters">
      {{#arrayBlanks}}<h1>{{.}} </h1>{{/arrayBlanks}}
    </section>

    {{#repeatedLetters}}
      <section class="container repeats">
        <h2>Oh-oh, you've already tried these letters: {{.}}. Keep going!</h2>
      </section>
    {{/repeatedLetters}}
      <section class="container guess-form">
      <form class="form-group form-inline" action=/game " method="post ">
        <input type="text " name"guess " value=" " placeholder="Your guess here " class="form-control ">
        <input type="submit " name="submit " value="Guess! " class="btn btn-info "
      </form>
      </section>
      <section class="already-guessed ">
        <h4>You've guessed: </h4>
        {{#attemptedLetters}}
        <span>{{.}}</span>
        {{/attemptedLetters}}
      </section>
    </div>
  </body>
</html>
